pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.classpath
.project
.settings
*~
\#*
.DS_Store
*.swp
/web/bundles/
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
